:root {
    --bg-color: #282828;
    /* bg0_h */
    --bg-variant: #282828;
    /* bg0 */
    --primary: #cc241d;
    /* red */
    --primary-variant: #fb4934;
    /* bright red */
    --secondary: #458588;
    /* blue */
    --accent-yellow: #fabd2f;
    /* bright yellow */
    --accent-orange: #fe8019;
    /* bright orange */
    --accent-green: #b8bb26;
    /* bright green */
    --accent-purple: #d3869b;
    /* bright purple */
    --text-primary: #fbf1c7;
    /* fg0 */
    --text-secondary: #ebdbb2;
    /* fg1 */
    --text-muted: #d5c4a1;
    /* fg2 */

    color-scheme: dark;
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
}

h2 {
    color: var(--accent-yellow);
}

h3 {
    color: var(--primary);
}

h4 {
    color: var(--primary-variant);
}

strong {
    color: var(--accent-orange);
}

img {
    width: 100%;
}